*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    border-radius: 50%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(126, 126, 218);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

#dropdown-wrapper
{
    width: 20%;
    text-align: center;
    border: none;
    position: absolute;
    top: 100px;
    right: 190px;
    z-index: 1;
    display: none;
    padding: 8px 0px;
    line-height: 2;
    background: rgba(135, 206, 235, 0.9);
}

#dropdown-wrapper > a
{
    width: 100%;
    margin-top: 5px;
    padding-bottom: 2px;
}

#dropdown-wrapper > a:hover
{
    border-bottom: 1px solid gray;
    transition: 0.5s;
}

#department:hover + #dropdown-wrapper
{
    display: inline;
}

#dropdown-wrapper:hover
{
    display: inline;
}

#dropdown-wrapper > a
{
    text-decoration: none;
    color: black;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: whitesmoke;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    color: white;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #7389ec;
    background: #7389ec;
    transition: 1s;
}

@media(max-width: 700px){
     .text-box h1{
        font-size: 20px;
     }
     .nav-links ul li{
        display: block;
     }
     .nav-links{
        position: absolute;
        background: #7389ec;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

     }
}